<p id="notice"><%= notice %></p>

<h1 class="headline center">Portfolio</h1>

<div class="row">
  <% @portfolios.each do |portfolio| %>
    <div class="col-lg-4 col-md-6 col-sm-12 pr-3 pb-3">
      <% if portfolio.profile_img.attached? %>
        <%= link_to (image_tag( portfolio.profile_img, style: 'width:100%; height: 18rem;',class:"img-thumbnail")), portfolio_path(portfolio) %>
      <% end %>
    </div>
  <% end %>
</div>
<br>
