@import "custom";
@import "~bootstrap/scss/bootstrap";

body {

  background: url('/assets/cover.jpeg') no-repeat center center fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;

}

.demotext {
text-shadow: 4px 4px 3px #FFFFFF;
}
