.center {
  text-align: center;
}
.jumbotron {
  background-color: black;
}
.jumbotron h1 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: -4px -3px 0px black;
}

.jumbotron h2 {
  color: white;
  text-align: center;
  margin-bottom: 30px;
  letter-spacing: -1px;
  font-weight: bold;
  text-shadow: -4px -3px 0px black;
}

.nonbullet{
  list-style-type: none
}

.stylelatest{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 32px;
  letter-spacing: -2px;
  word-spacing: 4.8px;
  color: #000000;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  color: #333333;
  text-shadow: 2px 2px 0px #FFFFFF, 5px 4px 0px rgba(0,0,0,0.15);
  color: #333333;
}

.headline{
  font-family: Arial, Helvetica, sans-serif;
  font-size: 60px;
  letter-spacing: -2px;
  word-spacing: 4.8px;
  color: #444444;
  font-weight: 700;
  text-decoration: none;
  font-style: normal;
  font-variant: normal;
  text-transform: none;
  text-shadow: -4px -3px 0px black;
}

.navbar-light{
  opacity: .7;
}

.msg-opacity{
  opacity: .8;
}
